:root {
    font-family: Hack, monospace;
    font-size: 0.8em;
    color: black;
}

ol, ul, li {
	list-style: none;
}
em {
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    color: white;
    background: black;
}
::selection {
    color: white;
    background: black;
}

html {
    background-color: black;
}

html, body {
    height: 100%;
    width: 100%;
}

@media (orientation: landscape) {
    body {
        display: flex;
        justify-content: center;
    }
}
@media (orientation: portrait) {
    body {
        overflow-x: hidden;
    }
}


/*╭╮╮┌─╴╭╮╷╷ ╷
  │││├─╴││││ │
  ╵╵╵╰─╴╵╰╯╰─╯*/
nav {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#logo img {
    outline: none;
    max-width: 15em;
    max-height: 15em;
    display: block;
    margin: 0 auto;
}

ul {
    font-size: 1.25rem;
}
ul a::before {
    content: "→ ";
}
nav li a {
    cursor: pointer;
    padding: 0.1em 0.6em;
    width: 100%;
    color: white;
    text-decoration: none;
    display: block;
}
nav li a:hover {
    color: black;
    background-color: white;
    font-weight: bold;
}

@media (orientation: landscape) {
    nav.after {
        width: 50%;

    }
}
@media (orientation: portrait) {
    nav.after {
        height: auto;
    }
    #logo {
        margin-top: 3rem;
    }
    ul {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

}


/*╭─╴╭─╮╭╮╷╶┬╴┌─╴╭╮╷╶┬╴
  │  │ ││││ │ ├─╴│││ │
  ╰─╴╰─╯╵╰╯ ╵ ╰─╴╵╰╯ ╵ */
main {
    color: black;
}
main.after {
    display: flex;
}
main.after::before {
    content: ' ';
    border-radius: 50%;
    background-color: white;
    z-index: -1;
}

.content {
    margin: auto;
    display: none;
    max-width: 40rem;
}
.show {
    display: block;
}


@media (orientation: landscape) {
    main.after {
        height: 100%;
        overflow-y: auto;
        width: 50%;
        padding: 0 5rem;
    }
    main.after::before {
        position: fixed;
        left: 42.5vmax;
        top: -32.5vmax;
        width: 140vmax;
        height: 140vmax;
    }

    .content {
        padding: 5rem 0;
    }

}
@media (orientation: landscape) and (max-width: 800px) {
    main.after::before {
        top: -60vmax;
        width: 200vmax;
        height: 200vmax;
    }
}

@media (orientation: portrait) {
    main.after {
        background-color: white;
        overflow: scroll;
        margin-top: 10rem;
    }
    main.after::before {
        position: absolute;
        left: -25vw;
        margin-top: -5rem;
        width: 150vw;
        height: 20rem;
    }
    .content {
        padding: 3rem 3rem 7rem 3rem;
    }
}


/*╶┬╴┌─╴╷ ╷╶┬╴
   │ ├─╴╭─╯ │
   ╵ ╰─╴╵ ╵ ╵ */
h2 {
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
    border-bottom: black solid 1rem;
}

p {
    margin-top: 1rem;
}
p.participants {
    margin-top: 0.7rem;
    margin-bottom: 2.5rem;
}
p.website {
    margin-top: 2rem;
    text-align: right;
}
p.important {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
}
p.space {
    margin-top: 2rem;
}

main a, main a:link, main a:visited {
    color: black;
    text-decoration: underline;
}
main a:hover, main a:active {
    background-color: yellow;
    cursor: pointer;
}

main .website a {
    background-color: black;
    color: white;
    padding: 0.2rem 1rem;
}


.content img {
    margin: 2rem 0;
    max-width: 100%;
}


/*┌─╴╭─╮╭╮╷╶┬╴╭─╴
  ├─╴│ ││││ │ ╰─╮
  ╵  ╰─╯╵╰╯ ╵ ╶─╯*/
  @font-face {
    font-family: 'Hack';
    src: url('fonts/hack-regular-webfont.woff2?v=2.020') format('woff2'), url('fonts/hack-regular-webfont.woff?v=2.020') format('woff'), url('fonts/hack-regular-webfont.ttf?v=2.020') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Hack';
    src: url('fonts/hack-bold-webfont.woff2?v=2.020') format('woff2'), url('fonts/hack-bold-webfont.woff?v=2.020') format('woff'), url('fonts/hack-bold-webfont.ttf?v=2.020') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Hack';
    src: url('fonts/hack-italic-webfont.woff2?v=2.020') format('woff2'), url('fonts/hack-italic-webfont.woff?v=2.020') format('woff'), url('fonts/hack-italic-webfont.ttf?v=2.020') format('truetype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Hack';
    src: url('fonts/hack-bolditalic-webfont.woff2?v=2.020') format('woff2'), url('fonts/hack-bolditalic-webfont.woff?v=2.020') format('woff'), url('fonts/hack-bolditalic-webfont.ttf?v=2.020') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
