:root {
    font-family: 'hack';
    font-size: 0.8em;
    color: black;
}

ol, ul, li {
	list-style: none;
}
em {
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    color: white;
    background: black;
}
::selection {
    color: white;
    background: black;
}

html {
    background-color: black;
}

html, body {
    height: 100%;
    width: 100%;
}

@media (orientation: landscape) {
    body {
        display: flex;
        justify-content: center;
    }
}
@media (orientation: portrait) {

}



/*╭╮╮┌─╴╭╮╷╷ ╷
  │││├─╴││││ │
  ╵╵╵╰─╴╵╰╯╰─╯*/
nav {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    max-width: 15em;
    display: block;
    margin: 0 auto;
}

ul {
    font-size: 1.25rem;
}
ul li::before {
    content: "→ ";
}
li {
    cursor: pointer;
    padding: 0.1em 0.6em;
}
li:hover {
    color: black;
    font-weight: bold;
    background-color: white;
}

@media (orientation: landscape) {
    nav.after {
        width: 50%;

    }
}
@media (orientation: portrait) {
    nav.after {
        height: auto;
    }
    #logo {
        margin-top: 3rem;
    }
    ul {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

}


/*╭─╴╭─╮╭╮╷╶┬╴┌─╴╭╮╷╶┬╴
  │  │ ││││ │ ├─╴│││ │
  ╰─╴╰─╯╵╰╯ ╵ ╰─╴╵╰╯ ╵ */
main {
    color: black;
}
main.after {
    display: flex;
}

main img {
    max-width: 100%;
}

.content {
    margin: auto;
    display: none;
    max-width: 40rem;
}
main.after::before {
    content: ' ';
    border-radius: 50%;
    background-color: white;
    z-index: -1;
}

@media (orientation: landscape) {
    main.after {
        height: 100%;
        overflow: scroll;
        width: 50%;
        padding: 0 5rem;
    }
    main.after::before {
        position: fixed;
        left: 42.5vmax;
        top: -32.5vmax;
        width: 140vmax;
        height: 140vmax;
    }

    .content {
        padding: 3rem 0;
    }

}
@media (orientation: landscape) and (max-width: 800px) {
    main.after::before {
        top: -60vmax;
        width: 200vmax;
        height: 200vmax;
    }
}
@media (orientation: portrait) {
    main.after {
        background-color: white;
        overflow: scroll;
        margin-top: 10rem;
    }
    main.after::before {
        position: absolute;
        left: -25vw;
        margin-top: -5rem;
        width: 150vw;
        height: 20rem;
    }
    .content {
        padding: 3rem;
    }
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
    border-bottom: black solid 0.4em;
}

p {
    margin-top: 1.3em;
}
.participants {
    margin-top: 0.7em;
}

.participants a:link, .participants a:visited {
    color: black;
}
.participants a:hover, .participants a:active {
    color: black;
    background-color: white;
}


/*┌─╴╭─╮╭╮╷╶┬╴╭─╴
  ├─╴│ ││││ │ ╰─╮
  ╵  ╰─╯╵╰╯ ╵ ╶─╯*/
@font-face {
    font-family: 'hack';
    src: url('fonts/hack-regular-webfont.woff') format('woff'),
     url('fonts/hack-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hack';
    src: url('fonts/hack-italic-webfont.woff') format('woff'),
     url('fonts/hack-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'hack';
    src: url('fonts/hack-bold-webfont.woff') format('woff'),
     url('fonts/hack-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'hack';
    src: url('fonts/hack-bolditalic-webfont.woff') format('woff'),
     url('fonts/hack-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
