:root {
    font-family: 'hack';
    font-size: 0.9em;
    color: black;
}

ol, ul {
	list-style: none;
}
em {
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    color: white;
    background: black;
}
::selection {
    color: white;
    background: black;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*╭╮╮┌─╴╭╮╷╷ ╷
  │││├─╴││││ │
  ╵╵╵╰─╴╵╰╯╰─╯*/
nav {
    color: white;
}

#logo {
    max-width: 15em;
    display: block;
    margin: auto;
    margin-bottom: 5em;
}

ul {
    font-size: 1.25rem;
    max-width: 18em;
    margin: 0em auto 8em auto;
}
li {
    display: inline-block;
    cursor: pointer;
    padding: 0.1em 0.6em 0.1em 0.3em;
}
li:hover {
    color: black;
    font-weight: bold;
    background-color: white;
}


/*╭─╴╭─╮╭╮╷╶┬╴┌─╴╭╮╷╶┬╴
  │  │ ││││ │ ├─╴│││ │
  ╰─╴╰─╯╵╰╯ ╵ ╰─╴╵╰╯ ╵ */
main {
    background-color: white;
    color: black;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
main img {
    max-width: 50%;
}
.content {
    max-width: 45em;
    padding: 5em;
    margin: auto;
    display: none;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
    border-bottom: black solid 0.4em;
}

.participants {
    margin-top: 0.7em;
}
p {
    margin-top: 1.3em;
}

.participants a:link, .participants a:visited {
    color: black;
}
.participants a:hover, .participants a:active {
    color: black;
    background-color: white;
}

@media screen and (max-width: 800px), (max-height: 600px) {
	body {
        display: block;
    }
    nav {
        height: auto;
    }
    #logo {
        margin-bottom: 2em;
        max-width: 10em;
        padding-top: 4em;
    }
    ul {
        max-width: 14em;
        margin: 0em auto 2em auto;
    }
    li {
        font-size: 0.8em;
    }
    .content {
        padding: 3em;
    }
}


/*┌─╴╭─╮╭╮╷╶┬╴╭─╴
  ├─╴│ ││││ │ ╰─╮
  ╵  ╰─╯╵╰╯ ╵ ╶─╯*/
@font-face {
    font-family: 'hack';
    src: url('fonts/hack-regular-webfont.woff') format('woff'),
     url('fonts/hack-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hack';
    src: url('fonts/hack-italic-webfont.woff') format('woff'),
     url('fonts/hack-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'hack';
    src: url('fonts/hack-bold-webfont.woff') format('woff'),
     url('fonts/hack-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'hack';
    src: url('fonts/hack-bolditalic-webfont.woff') format('woff'),
     url('fonts/hack-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
